@page "/conversationview"
@using CommunityToolkit.WinForms.ChatUI.Components

<div class="canvas" style="background-color: @(BackColor);">
    <div class="fullScreen-box" style="background-color: @(this.ConversationVm.BackColor); color: @(this.ConversationVm.ForeColor);">
        <h1>@ConversationVm.Headline</h1>
        @foreach (var item in this.ConversationVm.ConversationItems)
        {
            <div class="@(item.IsResponse ? "response-area" : "request-area")">
                @if (item.IsResponse)
                {
                    <div class="item-label">Response:</div>
                }
                else
                {
                    <div class="item-label" style="text-align: right;">You wrote on @(item.DateCreated):</div>
                }
                <div class="rounded-box" style="background-color: @(item.BackColor)">
                    @((MarkupString)(item.HtmlContent ?? string.Empty))
                </div>
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(this.ConversationVm.ResponseInProgress))
        {
            <div class="item-label">Response:</div>
            <div class="response-area">
                <div class="rounded-box" style="background-color: @(this.ConversationVm.ResponseInProgressBackColor)">
                    @((MarkupString)(this.ConversationVm.ResponseInProgress))
                </div>
            </div>
        }
    </div>
</div>
